<h1 style="font-size: large;font-family: Arial, Helvetica, sans-serif; color: #369;">Course not available Details!</h1>

<ng-container *ngFor="let Available of CourseAvailable">
<div class="panel panel-primary" *ngIf="Available.facultyName == undefined" style="font-size: large;font-family: Arial, Helvetica, sans-serif; color: #369;" >
    <div class="panel-heading">
      <h3 class="panel-title">{{Available.courseName}}</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-10">
  
        <div class="row vertical-align">
          <div class="col-xs-8">
  
            <div class="row">
              <div class="col-xs-6">
                Course Name
              </div>
              <div class="col-xs-6">
                : {{Available.courseName}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                Course ID
              </div>
              <div class="col-xs-6">
                : {{Available.courseId}}
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
</div>
</ng-container>
